/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{


margin: 0;
padding: 0;
font-family:Tahoma;
font-weight:normal;
list-style-type: none;
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
background-image: url(../images/kc2.gif);
background-repeat: no-repeat;
	background-position: right top;
float: left;
display: block;
font-weight:normal;
margin: 0;
}

.mattblackmenu li a{
background-image: url(../images/kc2.gif);
background-repeat: no-repeat;
	background-position: right top;
	font-size: 11px;
	line-height: 34px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	padding-left:26px;
	padding-right:26px;
	display: block;

}

.mattblackmenu li a:visited{


background-image: url(../images/kc2.gif);
background-repeat: no-repeat;
	background-position: right top;
	font-size: 11px;
	line-height: 34px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	padding-left:26px;
	padding-right:26px;
	display: block;



}

.mattblackmenu li a:hover{

	background-image: url(../images/mnnhover.gif);
	background-repeat: repeat-x;
		background-position: right top;

	line-height: 34px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-repeat: repeat-x;
	display: block;

/*background of tabs for hover state */
}
